{% extends "app/dev/templates/base.html" %}
{% block content %}
	<div class="row">
		<div class="small-12 medium-8 columns">
			<h4 class="title"><span>{{ i18n.gettext("contact") }}</span></h4>
			<div data-alert="" class="alert-box radius hide">
				<span class="js-alert-message"></span>
				<a class="close-alert right"><i class="fa fa-close"></i></a>
			</div>
			<form method="post" name="contact" id="js-contact-form" class="form">
				<div class="row">
					<div class="small-12 columns">
						<label for="name">{{ i18n.gettext("name") }}
							<input class="js-form-field" name="name" id="name" type="text" placeholder={{ i18n.gettext('"placeholder name"') }} />
						</label>
						<small class="error hide"></small>
					</div>
				</div>
				<div class="row">
					<div class="small-12 columns">
						<label for="email">{{ i18n.gettext("email") }}
							<input class="js-form-field" name="email" id="email" type="text" placeholder={{ i18n.gettext('"placeholder email"') }} />
						</label>
						<small class="error hide"></small>
					</div>
				</div>
				{% if buy %}
					<div class="row">
						<div class="small-12 columns">
							<label for="offer">{{ i18n.gettext("offer") }}
								<input class="js-form-field" name="offer" id="offer" type="text" placeholder={{ i18n.gettext('"placeholder offer"') }} />
							</label>
							<small class="error hide"></small>
						</div>
					</div>
				{% endif %}
				<div class="row">
					<div class="small-12 columns">
						<label for="message">{{ i18n.gettext("message") }}
							<textarea rows="5" class="js-form-field" name="message" id="message" placeholder={{ i18n.gettext('"placeholder message"') }}></textarea>
						</label>
						<small class="error hide"></small>
					</div>
				</div>
				<div class="row">
					<div class="small-12 columns text-right">
						<input type="submit" class="submit green-button button small radius" value={{ i18n.gettext("'send message'") }} />
					</div>
				</div>
			</form>
		</div>
		<div class="hide-for-small medium-4 columns">
			<h4 class="title"><span>{{ i18n.gettext("legal notice") }}</span></h4>
			{% include "app/dev/templates/includes/legal_notice.html" %}
		</div>
	</div>
{% endblock %}