<footer>
	<div class="row">
		<div class="small-12 medium-6 columns">
			<ul class="inline-list">
				<li>
					<a class="github" href="https://github.com/PatrickTaddey/single-page-application" target="_blank"><i class="fa fa-github-alt icon"></i> {{ i18n.gettext("fork me on github") }}</a>
				</li>
				<li>
					<a class="github" href="#contact"><i class="fa fa-shopping-cart icon"></i> {{ i18n.gettext("buy this domain") }}</a>
				</li>
			</ul>
			
		</div>
		<div class="medium-6 columns">
			<ul class="inline-list right hide-for-small social">
				{% include "app/dev/templates/includes/social_list.html" %}
			</ul>
		</div>
	</div>
</footer>
<div class="footer-bottom">
	<div class="row">
		<div class="small-6 columns">
			<i class="fa fa-copyright"></i> {{ profile.get("name") }}
		</div>
		<div class="small-6 columns text-right">
			<a href="./#legal_notice">{{ i18n.gettext("legal notice") }}</a>
		</div>
	</div>
</div>