<section class="header-top">
	<div class="row">
		<div class="small-12 columns">
			<ul class="inline-list right">
				{% include "app/dev/templates/includes/social_list.html" %}
			</ul>
		</div>
	</div>
</section>
<div class="contain-to-grid sticky">
	<nav class="top-bar" data-topbar="" role="navigation" data-options="sticky_on: large">
		<ul class="title-area">
			<li class="name">
				<h1><a href="#" class="logo"><i class="fa fa-html5"></i> {{ site }}</a></h1>
			</li>
			<li class="toggle-topbar menu-icon"><a href="#"><span>{{ i18n.gettext("menu") }}</span></a></li>
		</ul>
		
		<section class="top-bar-section">
			<ul class="right">
				<li><a href="#">{{ i18n.gettext("start") }}</a></li>
				<li class="has-dropdown">
					<a href="#profile">{{ i18n.gettext("about") }}</a>
					<ul class="dropdown">
						<li class="show-for-small-only"><a href="#profile">{{ i18n.gettext("profile") }}</a></li>
						<li><a href="#skills">{{ i18n.gettext("skills") }}</a></li>
					</ul>
				</li>
				<li class="has-dropdown">
					<a href="#contact">{{ i18n.gettext("contact") }}</a>
					<ul class="dropdown">
						<li class="show-for-small-only"><a href="#contact">{{ i18n.gettext("message") }}</a></li>
						<li><a href="#legal_notice">{{ i18n.gettext("legal notice") }}</a></li>
					</ul>
				</li>
			</ul>
		</section>
	</nav>
</div>
<div class="header-background"></div>