{% extends "app/dev/templates/base.html" %}
{% block content %}
	<div class="row">
		<div class="small-12 columns">
			<h4 class="title"><span>{{ i18n.gettext("Skills") }}</span></h4>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<!-- SHOW ONLY FOR MEDIUM UP -->
			<dl class="sub-nav show-for-medium-up" role="menu" title="Filter Menu List">
				<dt>{{ i18n.gettext("Filter:") }}</dt>
				<dd role="menuitem" data-class=".js-skill" class="js-skill-filter active">
					<a href="#">{{ i18n.gettext("All") }}</a>
				</dd>
				{% for skill_type in skill_types %}
					<dd role="menuitem" data-class=".{{skill_type}}" class="js-skill-filter">
						<a href="#">{{ i18n.gettext(skill_type) }}</a>
					</dd>
				{% endfor %}
			</dl>
			<!-- SHOW FOR SMALL ONLY -->
			<button id="js-skill-choice" data-dropdown="drop" aria-controls="drop" aria-expanded="false" class="show-for-small-only small radius button dropdown green-button">{{ i18n.gettext("All") }}</button>

			<ul id="drop" class="f-dropdown" data-dropdown-content>
				<li><a data-name="all" data-class=".js-skill" class="js-skill-filter skiller">{{ i18n.gettext("All") }}</a></li>
				{% for skill_type in skill_types %}
					<li><a data-name="{{skill_type}}" data-class=".{{skill_type}}" class="js-skill-filter skiller">{{ i18n.gettext(skill_type) }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="row top-margin-10">
		<div class="small-12 columns">
			{% for skill in skills %}
				<span data-link="{{skill.get("link")}}" data-description="{{skill.get("text")}}" aria-expanded="false" aria-controls="drop-one" data-dropdown="drop-one" class="js-skill button small secondary radius {{skill.get("class")}}">
				{{skill.get("name")}}
				</span>
			{% endfor %}
			<div id="drop-one" data-dropdown-content class="f-dropdown small content" aria-hidden="true" tabindex="-1">
				<span></span><br>
				<a href="" class="button green-button tiny radius right" target="_blank">{{ i18n.gettext("goto") }}</a>
			</div>
		</div>
	</div>
{% endblock %}